<!--The whole content below can be removed with the new code.-->
 <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kaan Kabalak</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav> 

<div class="container-fluid bg-1 text-center">
  <span id="main">&nbsp;</span>
  <img src="../assets/kaan.jpg" class="img-circle profile" width=15% alt="profile picture">
  <h1 class="name">Kaan Kabalak</h1>
  <h3 class="description">Web Developer</h3>
</div>

<div id="about" class="container-fluid bg-3 text-center">
  <span id="about">&nbsp;</span>
  <h1 class="aboutme">About Me</h1>

  <img class="jerseys" src="/assets/jerseys.png" alt="Soccer Jerseys">
  <!-- <div id="Carousel" class="carousel slide">
      <ol class="carousel-indicators">
          <li data-target="Carousel" data-slide-to="0" class="active"></li>
          <li data-target="Carousel" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner">
          <div class="item active">
              <img src="/assets/kaan1copy.png">
              <div class="carousel-caption">
                <p>Me in Levi's Stadium for the Gold Cup Final!</p>
              </div>
          </div>
          <div class="item">
              <img src="/assets/jerseys.png">
              <div class="carousel-gradient"></div>
              <div class="carousel-caption">
                <p>Some of the soccer jerseys that I have designed.</p>
              </div>
          </div>
      </div> -->

      <!-- Carousel Buttons Next/Prev
      <a data-slide="prev" href="#Carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
      <a data-slide="next" href="#Carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
  </div> -->

  <div class="summary">
    <p>
      Hey there, I'm Kaan! I am an Electrical Engineering graduate who eventually decided to switch career paths and pursue my lifelong dream of developing applications. 
      So, I enrolled at Coding Dojo in San Jose, CA, an immersive coding bootcamp where students learn 3 full stacks in 14 weeks. 
      I have spent more than 1000 hours learning Python/Django, MEAN (MongoDB, Express.js, Angular, Node.js) and Swift.
      I now feel that I am ready to take the next step and work as a Junior Web Developer.
    </p>
    <p>
      I am a huge soccer fan and I also like to watch basketball and baseball. 
      In my free time, I like designing soccer jerseys, reading, coding new applications, and learning new technologies!
      Feel free to contact me and ask any questions!
    </p>
    <a href="/assets/KaanKabalakResumeWebDeveloper.pdf" target="_blank"><button>View my resume</button></a>
  </div>
</div>

<div id="skills" class="container-fluid bg-2 text-center">
  <span id="skills"> &nbsp; </span>
  <h1 class="skills">Skills</h1>
  <div class="column">
    <div class="row">
      <div class="container1">
        <img src="../assets/logos/JavaScript.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">JavaScript</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/python.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">Python</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/iOS-Swift.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">iOS/Swift</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/HTML.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">HTML</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/CSS.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">CSS</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container1">
        <img src="../assets/logos/angular.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">Angular 4</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/expressjs.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">Express.js</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/nodejs.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">Node.js</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/django.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">Django</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container1">
        <img src="../assets/logos/mysql.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">MySQL</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/mongodb.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">mongoDB</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container1">
        <img src="../assets/logos/jQuery.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">jQuery</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/bootstrap.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">Bootstrap</div>
        </div>
      </div>
      <div class="container1">
        <img src="../assets/logos/ajax.png" width=114px alt="Avatar" class="image1">
        <div class="overlay1">
          <div class="text1">AJAX</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="projects" class="container-fluid bg-5 text-center">
  <span id="projects"> &nbsp; </span>
  <h1 class="aboutme">Projects</h1>
  <div class="row">
    <div class="col-sm-4">
      <h3>Burger Flipper</h3>
      <h4><a href="https://github.com/kaankabalak/BurgerFlipper">GitHub</a></h4>
      <a href="../assets/burger-flipper.png" target="_blank">
        <img src="../assets/burger-flipper.png" width=40% alt="Image">
      </a>
      <ul>
        <li>Developed the UI as well as integrating device motion controls to the UI for an app that won the Coding Dojo iOS Hackathon where the user can flip burgers by tilting and flicking the phone.</li>
        <li class="italic">Technologies used: Swift, CoreMotion, AVFoundation, UIKit</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>10000 Hours</h3>
      <h4><a href="https://github.com/kaankabalak/10000-hours">GitHub</a></h4>
      <a href="../assets/10000-hours.png" target="_blank">
        <img src="../assets/10000-hours.png" width=100% alt="Image">
      </a>
      <ul>
        <li>Created a web application based on Malcolm Gladwell's 10,000 Hour Rule where users can track their progress towards expertise by recording the activities and the hours they put in to improve themselves.</li>
        <li class="italic">Technologies used: Angular 4, MongoDB, Express.js, Node.js, jQuery, CSS, bcrypt</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Youtube Quiz</h3>
      <h4><a href="https://github.com/kaankabalak/youtube-quiz">GitHub</a></h4>
      <a href="../assets/youtube-quiz.png" target="_blank">
        <img src="../assets/youtube-quiz.png" width=100% alt="Image">
      </a>
      <ul>
        <li>Developed the back end and designed the front end for a quiz application that scrapes Wikipedia for the most watched YouTube videos to create the database, gives the users two options and asks them to correctly predict in a row which one has been watched the most.</li>
        <li class="italic">Technologies used: Python, Django, BeautifulSoup, YouTube API, CSS</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Land Grab</h3>
      <h4><a href="https://github.com/kaankabalak/LandGrab">GitHub</a> (in progress)</h4>
      <a href="../assets/land-grab.png" target="_blank">
        <img src="../assets/land-grab.png" width=40% alt="Image">
      </a>
      <ul>
        <li>Created an iOS app where users are split into two teams trying to claim different districts of San Francisco by visiting the most spots in a certain amount of time.</li>
        <li class="italic">Technologies used: Swift, MapBox API, UIKit</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h3>Soccer Pick10</h3>
      <h4><a href="https://github.com/kaankabalak/soccer-pick10">GitHub</a> (in progress)</h4>
      <a href="../assets/soccer-pick10.png" target="_blank">
        <img src="../assets/soccer-pick10.png" width=100% alt="Image">
      </a>
      <ul>
        <li>Created a web application where users can predict the scores of 10 upcoming soccer games and compete against each other.</li>
        <li class="italic">Technologies used: MongoDB, Express.js, Angular 4, Node.js, Bootstrap, bcrypt, SportRadar API</li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid bg-4 text-center">
  <span id="contact"> &nbsp; </span>
  <h1 id="contact">Contact Me</h1>
  <a href="mailto:kaankabalak@gmail.com" class="fa fa-envelope-o"></a>
  <a href="https://www.linkedin.com/in/kaankabalak/" class="fa fa-linkedin"></a>
  <a href="https://github.com/kaankabalak" class="fa fa-github"></a>
</div>